
    <ion-grid class="ion-no-margin header">
      <ion-row class="ion-justify-content-center">
        <ion-col size="1" class="ion-text-center">
          <img class="logo" src="../assets/images/logo.jpg">
        </ion-col>
        <ion-col size="11" class="navbar-menu">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="1" class="ion-text-center nav-header"  (click)="navigateTo('home')">
                <ion-text>Home</ion-text>
              </ion-col>
              <ion-col size="1" class="ion-text-center nav-header"  (click)="navigateTo('about')">
                <ion-text>About</ion-text>
              </ion-col>
              <ion-col size="1" class="ion-text-center nav-header"  (click)="navigateTo('news')">
                <ion-text>News</ion-text>
              </ion-col>
              <ion-col size="1" class="ion-text-center nav-header" (click)="navigateTo('gallery')">
                <ion-text>Gallery</ion-text>
              </ion-col>
              <ion-col size="1" class="ion-text-center nav-header" (click)="navigateTo('charity')">
                <ion-text>Charity</ion-text>
              </ion-col>
              <ion-col size="5" class="ion-text-center nav-header" >
                <div class="dropdown">
                  <button class="dropbtn">Leadership 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a (click)="navigateTo('leadership/founders')">Founders</a>
                    <a (click)="navigateTo('leadership/board-of-directors')">Board of Directors</a>
                    <a (click)="navigateTo('leadership/executive-committee')">Executive Committee</a>
                    <a (click)="navigateTo('leadership/advisory-committee')">Advisory Committee</a>
                    <a (click)="navigateTo('leadership/other-committee')">Other Committee</a>
                  </div>
                </div> 
                <div class="dropdown">
                  <button class="dropbtn">History 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a (click)="navigateTo('history')">GGA History</a>
                    <a (click)="navigateTo('history/gor-history')">GOR History</a>
                    <a (click)="navigateTo('history/gothras')">GOR Gothras</a>
                    <a (click)="navigateTo('history/festivals')">GOR Festivals</a>
                  </div>
                </div> 
                <div class="dropdown">
                  <button class="dropbtn">Member 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a (click)="navigateTo('membership/registration')">GGA Membership</a>
                    <a (click)="navigateTo('membership/volunteer')">GGA Volunteer</a>
                  </div>
                </div> 
                <div class="dropdown">
                  <button (click)="navigateTo('contact')" class="dropbtn">Contact</button>
                </div> 
              </ion-col>
              <ion-col  size="2" class="ion-text-center nav-header" >
                <ion-button class="admin-button" color="secondary" (click)="checkForLogin()">Admin</ion-button>
                <ion-button color="secondary" (click)="donate()">Donate</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>