<app-header></app-header>
<ion-content>
  <ion-card class="bottom-card">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">GOR Festivals</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-card-title color="secondary">
                  Teej Festival
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="../../assets/images/gallery7.png"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-card-title color="secondary">
                  Seethla Bhavani
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="../../assets/images/gallery2.png"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-card-title color="secondary">
                  Manthraal Festival
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="../../assets/images/gallery8.png"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-card-title color="secondary">
                  Sevalal Maharaj Jayanthi Bhavani
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="../../assets/images/gallery11.png"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
