<app-header></app-header>
<ion-content>
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">GOR Goddess</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        1. Meraama Yaadi
      </ion-text><br>
      <ion-text>
        2. Tulja Yaadi
      </ion-text><br>
      <ion-text>
        3. Manthraal Yaadi
      </ion-text><br>
      <ion-text>
        4. Kankali Yaadi
      </ion-text><br>
      <ion-text>
        5. Hinglaj Yaadi
      </ion-text><br>
      <ion-text>
        6. Dwallagar Yaadi
      </ion-text><br>
      <ion-text>
        7. Seethla Yaadi
      </ion-text><br>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">GOR Sadguru's</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        1. Hathiram Bavaji
      </ion-text><br>
      <ion-text>
        2. Sevalal Maharaj ( Feb-15-1739 to Dec-4-1806 )
      </ion-text><br>
      <ion-text>
        3. Ramrao Maharaj ( July-27-1935 to Oct-30-2020 )
      </ion-text><br>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">GOR Freedom Fighters</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-card class="leader-image-card">
              <ion-card-header>
                <img class="leader-image" src="../../../assets/images/Prithviraj_Chauhan.jpg" alt="Ravikiran-Chauhan">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Pruthvi Raj Chauhan</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text class="leader-image-text">c.1166 to 1192CE</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card class="leader-image-card">
              <ion-card-header>
                <img class="leader-image" src="../../../assets/images/maharana-pratap.jpg" alt="Ravikiran-Chauhan">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Rana Prathap Singh Rathod</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text class="leader-image-text">May-9-1540 to Jan-19-1597</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card class="leader-image-card">
              <ion-card-header>
                <img class="leader-image" src="../../../assets/images/lakhisha_banjara.jpeg" alt="Ravikiran-Chauhan">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Lakhisha Banjara</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text class="leader-image-text">July-4-1580 to June-7-1680</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card class="leader-image-card">
              <ion-card-header>
                <img class="leader-image" src="../../../assets/images/Banavath_Ramsingh.jpeg" alt="Ravikiran-Chauhan">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Padmasree Ramsingh Banavath </ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text class="leader-image-text">Aug-15-1906 to June-10-2002</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-text><strong>Few Other Leaders</strong></ion-text><br>
            <ion-text>
              1. Bhukya Baana Nayak
            </ion-text><br>
            <ion-text>
              2. Veyraali Lambadi Heeri Mudavath - ( Lady Robinhood ) - ( Jan-14-1888 to Sept-06-2008 )
            </ion-text><br>
            <ion-text>
              3. Meetu Bhukya
            </ion-text><br>
            <ion-text>
              4. Jatoth Tanu Nayak
            </ion-text><br>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <app-footer></app-footer>
</ion-content>
