<app-header></app-header>
<ion-content>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card>
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">GOR Goddess</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text class="text">
                1. Meraama Yaadi
              </ion-text><br>
              <ion-text class="text">
                2. Tulja Yaadi
              </ion-text><br>
              <ion-text class="text">
                3. Manthraal Yaadi
              </ion-text><br>
              <ion-text class="text">
                4. Kankali Yaadi
              </ion-text><br>
              <ion-text class="text"> 
                5. Hinglaj Yaadi
              </ion-text><br>
              <ion-text class="text">
                6. Dwallagar Yaadi
              </ion-text><br>
              <ion-text class="text">
                7. Seethla Yaadi
              </ion-text><br>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card >
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">GOR Sadguru's</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text class="text">
                1. Hathiram Bavaji
              </ion-text><br>
              <ion-text class="text">
                2. Sevalal Maharaj ( Feb-15-1739 to Dec-4-1806 )
              </ion-text><br>
              <ion-text class="text">
                3. Ramrao Maharaj ( July-27-1935 to Oct-30-2020 )
              </ion-text><br>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card >
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">GOR Freedom Fighters</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="inner-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Prithviraj_Chauhan.jpg" alt="Ravikiran-Chauhan">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Pruthvi Raj Chauhan</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text class="leader-image-text">c.1166 to 1192CE</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="inner-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/maharana-pratap.jpg" alt="Ravikiran-Chauhan">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Rana Prathap Singh Rathod</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text class="leader-image-text">May-9-1540 to Jan-19-1597</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="inner-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/lakhisha_banjara.jpeg" alt="Ravikiran-Chauhan">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Lakhisha Banjara</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text class="leader-image-text">July-4-1580 to June-7-1680</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="inner-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Banavath_Ramsingh.jpeg" alt="Ravikiran-Chauhan">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Padmasree Ramsingh Banavath </ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text class="leader-image-text">Aug-15-1906 to June-10-2002</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text><strong>Few Other Leaders</strong></ion-text><br>
              <ion-text class="text">
                1. Bhukya Baana Nayak
              </ion-text><br>
              <ion-text class="text">
                2. Veyraali Lambadi Heeri Mudavath - ( Lady Robinhood ) - ( Jan-14-1888 to Sept-06-2008 )
              </ion-text><br>
              <ion-text class="text">
                3. Meetu Bhukya
              </ion-text><br>
              <ion-text class="text">
                4. Jatoth Tanu Nayak
              </ion-text><br>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  
  <app-footer></app-footer>
</ion-content>
