<app-header></app-header>

<ion-content>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card >
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">GGA Founders</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Ravikiran-Chauhan.png" alt="Ravikiran-Chauhan">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Ravikiran Sabavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Founder</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Shankar-Salavath.png" alt="Shankar-Salavath">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Shanker Salavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Founder</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Sandip-Rathod.png" alt="Sandip-Rathod">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Sandeep Rathod</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Founder</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Ashok-Angoth.png" alt="Ashok-Angoth">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Ashok Angoth</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Founder</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Raj-Maloth.png" alt="Raj Maloth">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Raj Maloth</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Founder</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
            </div>
            <div fxFlex="25" class="layout-flex-col">
            </div>
            <div fxFlex="25" class="layout-flex-col">
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  <app-footer></app-footer>
</ion-content>
