.card-heading{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right,rgba(244,107,69, 0.8) , rgba(238,168,73,.8));
    font-size: 1.6rem;
}

.middle-card{
    margin: 1.2rem;
}

.about-images{
    margin-left: 5rem;
    height: 27vh;
    border-radius: 1rem;
    width: 78%;
}

.about-text-col{
    margin-top: 2rem;
}

ion-card{
    margin-right: 4rem !important;
    margin-left: 4rem !important;
}

.bottom-card{
    margin: 1.2rem;
    margin-bottom:2rem;
}