<app-header></app-header>

<ion-content>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card >
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-card-title class="card-heading">About Us</ion-card-title>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text class="text">
                Group of like-minded individuals have come together to establish this charitable trust with a
                broad focus mainly on Education, Culture and Livelihood. At “GLOBAL GORS
                ASSOCIATION”, our goal is to create a social network for all members to come together as
                One Big Team to celebrate our unique culture, whether it’s a happy hour, fitness activity or
                an opportunity for professional or personal development. When you join the GGA family,
                you are guided by a set of core values that have become the foundation of our character,
                success and global reputation.
              </ion-text>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card>
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-card-title class="card-heading">Our Mission</ion-card-title>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="70" class="layout-flex-col">
              <ion-text class="text">
                To create a platform for individuals and families to collaborate on improving the lives of
                marginalized and holistic development of Gor communities in India with basic education,
                digital literacy, Skill development, health awareness, learning modern and rural
                entrepreneurship.
              </ion-text>
            </div>
            <div fxFlex="30" class="layout-flex-col  ion-text-center">
              <img class="about-images" src="../../assets/images/mission.jpg" alt="mission image">
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card>
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-card-title class="card-heading">Our Vision</ion-card-title>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="70" class="layout-flex-col">
              <ion-text class="text">
                Get all Global Gors (irrespective of their Religion / State / Nation affiliations) to form a coherent
                community in US and abroad and to give back to the community back in Sub-Continent.
              </ion-text>
            </div>
            <div fxFlex="30" class="layout-flex-col  ion-text-center">
              <img class="about-images" src="../../assets/images/vision.jpg" alt="mission image">
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card>
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"> 
            <div fxFlex="100" class="layout-flex-col">
              <ion-card-title class="card-heading">Our Foundation</ion-card-title>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="70" class="layout-flex-col">
              <ion-text class="text">
                Gors aims to nurture and support this community, recognizing that any Gor can be part of it,
              whether their engagement with culture is through festivals, cultural activities or family
              gatherings to retain unique identify of our culture for future generations.
              People working in GGA team are Engineers, Doctors, Entrepreneurs, Teachers and etc.,
              but when they all came together to work on a GGA platform they all works as a team to
              achieve a common goal of our cultural heritage keeps our memories alive of how beliefs
              and cultural expressions have contributed to the development of family and society.
              </ion-text>
            </div>
            <div fxFlex="30" class="layout-flex-col ion-text-center">
              <img class="about-images" src="../../assets/images/foundation.jpg" alt="mission image">
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
