<app-header></app-header>

<ion-content>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card>
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">Board of Directors</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Arvind-Chavan.png" alt="Arvind Chavan">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Arvind Chavan</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card"> 
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Pradip-Chavan.png" alt="Pradip Chavan">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Pradip Chavan</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Kalidas-Porika.png" alt="Kalidas-Porika">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Kalidas Porika</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Poolsingh-Bhookya.png" alt="Poolsingh-Bhookya">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Phoolsingh Bhookya</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  


  <app-footer></app-footer>
</ion-content>
