<app-header></app-header>
<ion-content>
  <ion-card class="bottom-card">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">Guar Gothra's / Jaath</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        Now a days our Banjara bhais are spread all over the Globe. Our banjara community has mainly 4 Jath's( Chauhan, Rathod, Pawar and Jadav ). We have 110 padas and inturn we have some more upa-padas or gothras.
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col class="key-col">
            <ion-card-title color="secondary">
              Chauhan/Chavan (6)
            </ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-first values-col-odd">
            <ion-text>1. Keloth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-first values-col-odd">
            <ion-text>2. Korra</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-first values-col-odd">
            <ion-text>3. Lavdiya</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-first values-col-odd">
            <ion-text>4. Mood/Moodavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-first values-col-odd">
            <ion-text>5. Palthya</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-first values-col-odd">
            <ion-text>6. Sabavath</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class="key-col">
            <ion-card-title color="secondary">
              Pawar/Pamar (12)
            </ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col  values-col-first values-col-odd">
            <ion-text>1. Aamgoth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col  values-col-first values-col-odd">
            <ion-text>3. Chalavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col  values-col-first values-col-odd">
            <ion-text>5. Ivaath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col  values-col-first values-col-odd">
            <ion-text>7. Loka</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col  values-col-first values-col-odd">
            <ion-text>9. Nunsavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col  values-col-first values-col-odd">
            <ion-text>11. Vankudoth</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>2. Baanni</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>4. Injravath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>6. Jharapla</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>8. Moojwani</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>10. Tarabanni</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>12. Vislavath/Islavath</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class="key-col">
            <ion-card-title color="secondary">
              Jadhav/Vadthya (52)
            </ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>1. Ajmera</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>10. Dasavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>19. Harakvath/Hatkar</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>28. Kharpathi</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>37. Padya</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>46. Salavath</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>2. Badavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>11. Doongriya</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>20. Harjipadiya</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>29. Kunsoth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>38. Parpathani</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>47. Sejavath</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>3. Bagavandas</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>12. Dungroth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>21. Jadiya</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>30. Lakavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>39. Pemavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>48. Tejavath</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>4. Barmavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>13. Gangavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>22. Jajigiri</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>31. Lalavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>40. Pipavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>49. Tepavath</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>5. Bharoth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>14. Goram</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>23. Jaloth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>32. Maloth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>41. Poosnamaal</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>50. Teravath</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>6. Boda</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>15. Guguloth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>24. Jaith</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>33. Merajoth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>42. Porika</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>51. Tuvar</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>7. Changavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>16. Hajavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>25. Jejavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>34. Mohandas</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>43. Ramnaya</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>52. Vundavath</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>8. Dharavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>17. Halavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>26. Kaglaa</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>35. Nangoth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>44. Rathnavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>9. Dhenapadiya</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>18. Hannavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>27. Khannavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>36. Nunavath/Lunavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>45. Rudavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class="key-col">
            <ion-card-title color="secondary">
              Rathod/Bhukya (27)
            </ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>1. Aaloth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>6. Devasoth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>11. Khatroth/Khatravath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>16. Kumavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>21. Pithavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>26. Sangavath</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>2. Bhilavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>7. Dungavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>12. Khola</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>17. Meghavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>22. Rajavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>27. Sotki</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>3. Dhalavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>8. Jhandavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>13. Khethavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>18. Meeravath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>23. Ramavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>4. Degavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>9. Karamtoth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>14. Khilavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>19. Nenavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>24. Rathlavath/Phulia</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>5. Depavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>10. Khanavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>15. Kodavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>20. Pathlavath/Pathloth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>25. Ranavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class="key-col">
            <ion-card-title color="secondary">
                Banoth (18)
            </ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>1. Aadoth/Ade</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>4. Dharmasoth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>7. Kamavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>10. Lavuri</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>13. Nagaara</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd values-col-first">
            <ion-text>16. Panugoth</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>2. Bhojavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>5. Dheeravath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>8. Karnavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>11. Madavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>14. Padmavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-even">
            <ion-text>17. Rupavath</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>3. Dhanavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>6. Jatoth</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>9. Kunthavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>12. Munavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>15. Panavath</ion-text>
          </ion-col>
          <ion-col size="2" class="values-col values-col-odd">
            <ion-text>18. Sabdasoth</ion-text>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
