.card-heading{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right,rgba(244,107,69, 0.8) , rgba(238,168,73,.8));
    font-size: 1.6rem;
}

.values-col{
    border: 1px solid #D7D7D7;
    margin-left: 0;
    margin-right: 0;

    &-even{
        background:white;
    }

    &-odd{
        background:#FBFBFB;
    }

    &-first{
        margin-top: 1rem;
    }
}

.text{
    margin-left: 1rem;
}

.key-col{
    padding-top: 1rem;
}

.bottom-card{
    margin-right: 4rem !important;
    margin-left: 4rem !important;
    margin: 1.2rem;
    margin-bottom:2rem;
}

//Mobile

/* iphone 10 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .values-col{
        border: 1px solid #D7D7D7;
        margin-left: 0;
        margin-right: 0;
    
        &-even{
            background:#FBFBFB;
        }
    
        &-odd{
            background:#FBFBFB;
        }
    
        &-first{
            margin-top: 1rem;
        }
    }

}

/* iphone 6, 6s, 7 & 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .values-col{
        border: 1px solid #D7D7D7;
        margin-left: 0;
        margin-right: 0;
    
        &-even{
            background:#FBFBFB;
        }
    
        &-odd{
            background:#FBFBFB;
        }
    
        &-first{
            margin-top: 1rem;
        }
    }
}

/* ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

   
}

/* desktop */
@media screen 
  and (min-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}