<app-header></app-header>
<ion-content>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card>
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">GOR Gothra's / Jaath</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
          <ion-text class="text">
            Now a days our Banjara bhais are spread all over the Globe. Our banjara community has mainly 4 Jath's( Chauhan, Rathod, Pawar and Jadav ). We have 110 padas and inturn we have some more upa-padas or gothras.
          </ion-text>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-card-title color="secondary">
                Chauhan/Chavan (6)
              </ion-card-title>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Keloth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Korra</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Lavdiya</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Mood/Moodavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Palthya</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Sabavath</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-card-title color="secondary">
                Pawar/Pamar (12)
              </ion-card-title>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Aamgoth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Chalavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Ivaath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Loka</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Nunsavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Vankudoth</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Injravath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Chalavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Jharapla</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Moojwani</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Tarabanni</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Vislavath/Islavath</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-card-title color="secondary">
                Jadhav/Vadthya (52)
              </ion-card-title>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Ajmera</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Dasavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Harakvath/Hatkar</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Kharpathi</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Padya</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Salavath</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Badavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Doongriya</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Harjipadiya</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Kunsoth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Parpathani</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Sejavath</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Bagavandas</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Dungroth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Jadiya</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Lakavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Pemavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Tejavath</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Barmavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Gangavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Jajigiri</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Lalavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Pipavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Tepavath</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Bharoth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Goram</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Jaloth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Maloth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Poosnamaal</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Teravath</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Boda</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Guguloth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Jaith</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Merajoth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Porika</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Tuvar</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Changavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Hajavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Jejavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Mohandas</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Ramnaya</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Vundavath</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Dharavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Halavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Kaglaa</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Nangoth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Rathnavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Dhenapadiya</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Hannavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Khannavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Nunavath/Lunavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Rudavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-card-title color="secondary">
                Rathod/Bhukya (27)
              </ion-card-title>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Aaloth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Devasoth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Khatroth/Khatravath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Kumavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Pithavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Sangavath</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Bhilavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Dungavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Khola</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Meghavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Rajavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Sotki</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Dhalavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text"> Jhandavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Khethavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Meeravath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Ramavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
             
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Degavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Karamtoth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Khilavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Nenavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Rathlavath/Phulia</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
             
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Depavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Khanavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Kodavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Pathlavath/Pathloth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Ranavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
             
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-card-title color="secondary">
                Banoth (18)
              </ion-card-title>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Aadoth/Ade</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Dharmasoth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Kamavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Lavuri</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Nagaara</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Panugoth</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Bhojavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Dheeravath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Karnavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Madavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Padmavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-even">
              <ion-text class="text">Rupavath</ion-text>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Dhanavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Jatoth</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Kunthavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Munavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Panavath</ion-text>
            </div>
            <div fxFlex="16.6" class="layout-flex-col values-col values-col-first values-col-odd">
              <ion-text class="text">Sabdasoth</ion-text>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  <app-footer></app-footer>
</ion-content>
