<app-header></app-header>
<ion-content>
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">GGA History</ion-text>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-text>
        The idea of starting an international organization of Gor language speaking people in USA and abroad
        was under consideration by concerned persons of people of Gor origin for about two to three years
        (2015-2017). Finally, in early part of 2017 about Three to Five likeminded individuals from various parts
        of USA had several teleconference meetings and discussed various aspects related to Gor community
        people of USA and India. After long deliberations, an idea to start an Organization named NRI Gor
        Organization (NGO) was agreed by the participating delegates. Thereafter, Additional input was solicited
        from committee and various individuals and renamed to “Global Gors Association” (GGA). Around the
        country about forming an Interim Board of the organization and formally registering the organization in
        Texas as a not-for-profit organization.
        The Beginning and on the first events: After getting very encouraging feedback around the community, a
        town hall meeting was organized in “Bloomington, Illinois” and “Edison, New Jersey” which was
        attended by more than 120+ Gor speaking people from different parts of USA on the first historical
        occasion of 279 th “Sevalal Maharaj Jayanthi” in America in 2017.
        In 2018, GGA celebrated the first historical Teej cultural event in Dayton, Ohio by participating 110+ gor
        brothers and sisters across the USA, Canada and Australia.
        To facilitate the formation and functioning of the organization, Nayak Gor system and Interim Executive
        committee was chosen by Board of Directors(Phoolsingh Bhookya, Pradip Chavan, Arvind Chavan and
        Kalidas Porika). This Interim Nayak Gor system consisted of Nayak (Raj Maloth), Karbhari(Phoolsingh
        Bhookya) and Hasabi(Arvind Chavan). This interim Executive Committee consisted of President (Kalidas
        Porika), Vice-President (Srihari Dharavath &amp; Sandip Rathod), General Secretary (Shanker Salavath),
        Convenor(Ravikiran Sabavath), Joint-Secretary (Ashok Angoth), Treasurer (Arvind Chavan).
        The main purpose of the organization is to assist and promote literary, cultural, educational, religious,
        social, economic, health and community activities of the people of Gor origin as well as to promote
        exchange programs for students, scientists, and professionals of Gor origin between the United States of
        America, Canada and India and other countries.
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">GOR Goddess</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        1. Meraama Yaadi
      </ion-text><br>
      <ion-text>
        2. Tulja Yaadi
      </ion-text><br>
      <ion-text>
        3. Manthraal Yaadi
      </ion-text><br>
      <ion-text>
        4. Kankali Yaadi
      </ion-text><br>
      <ion-text>
        5. Hinglaj Yaadi
      </ion-text><br>
      <ion-text>
        6. Dwallagar Yaadi
      </ion-text><br>
      <ion-text>
        7. Seethla Yaadi
      </ion-text><br>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">GOR Sadguru's</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        1. Hathiram Bavaji
      </ion-text><br>
      <ion-text>
        2. Sevalal Maharaj ( Feb-15-1739 to Dec-4-1806 )
      </ion-text><br>
      <ion-text>
        3. Ramrao Maharaj ( July-27-1935 to Oct-30-2020 )
      </ion-text><br>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">GOR Freedom Fighters</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        1. Pruthvi Raj Chauhan ( c.1166 to 1192CE )
      </ion-text><br>
      <ion-text>
        2. Rana Prathap Singh Rathod ( May-9-1540 to Jan-19-1597 )
      </ion-text><br>
      <ion-text>
        3. Lakhisha Banjara ( July-4-1580 to June-7-1680 )
      </ion-text><br>
      <ion-text>
        4. Bhukya Baana Nayak
      </ion-text><br>
      <ion-text>
        5. Veyraali Lambadi Heeri Mudavath - ( Lady Robinhood ) - ( Jan-14-1888 to Sept-06-2008 )
      </ion-text><br>
      <ion-text>
        6. Padmasree Ramsingh Banavath - ( Banjara Gandhi ) - ( Aug-15-1906 to June-10-2002 )
      </ion-text><br>
      <ion-text>
        7. Meetu Bhukya
      </ion-text><br>
      <ion-text>
        8. Jatoth Tanu Nayak
      </ion-text><br>
    </ion-card-content>
  </ion-card>
  
  <app-footer></app-footer>
</ion-content>
