<app-header></app-header>
<ion-content>
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">GGA History</ion-text>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-text>
        The idea of starting an international organization of Gor language speaking people in USA and abroad
        was under consideration by concerned persons of people of Gor origin for about two to three years
        (2015-2017). Finally, in early part of 2017 about Three to Five likeminded individuals from various parts
        of USA had several teleconference meetings and discussed various aspects related to Gor community
        people of USA and India. After long deliberations, an idea to start an Organization named NRI Gor
        Organization (NGO) was agreed by the participating delegates. Thereafter, Additional input was solicited
        from committee and various individuals and renamed to “Global Gors Association” (GGA). Around the
        country about forming an Interim Board of the organization and formally registering the organization in
        Texas as a not-for-profit organization.
        The Beginning and on the first events: After getting very encouraging feedback around the community, a
        town hall meeting was organized in “Bloomington, Illinois” and “Edison, New Jersey” which was
        attended by more than 120+ Gor speaking people from different parts of USA on the first historical
        occasion of 279 th “Sevalal Maharaj Jayanthi” in America in 2017.
        In 2018, GGA celebrated the first historical Teej cultural event in Dayton, Ohio by participating 110+ gor
        brothers and sisters across the USA, Canada and Australia.
        To facilitate the formation and functioning of the organization, Nayak Gor system and Interim Executive
        committee was chosen by Board of Directors(Phoolsingh Bhookya, Pradip Chavan, Arvind Chavan and
        Kalidas Porika). This Interim Nayak Gor system consisted of Nayak (Raj Maloth), Karbhari(Phoolsingh
        Bhookya) and Hasabi(Arvind Chavan). This interim Executive Committee consisted of President (Kalidas
        Porika), Vice-President (Srihari Dharavath &amp; Sandip Rathod), General Secretary (Shanker Salavath),
        Convenor(Ravikiran Sabavath), Joint-Secretary (Ashok Angoth), Treasurer (Arvind Chavan).
        The main purpose of the organization is to assist and promote literary, cultural, educational, religious,
        social, economic, health and community activities of the people of Gor origin as well as to promote
        exchange programs for students, scientists, and professionals of Gor origin between the United States of
        America, Canada and India and other countries.
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">Ethics</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        Mutual respect, mentoring, and giving back to community best way possible.​<br>
        <em>"Integrity without knowledge is weak and useless, and knowledge without integrity is dangerous and dreadful."​</em> - Samuel Johnson <br>
        <em>"Have the courage to say no. Have the courage to face the truth. Do the right thing because it is right. These are the magic keys to living your life with integrity."</em> - W. Clement Stone​<br>
      </ion-text>
    </ion-card-content>
  </ion-card>
    <ion-card class="ion-margin-top">
      <ion-card-header>
        <ion-text color="primary" class="card-heading">Core Values</ion-text>
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
        <ion-text>
          At GGA, our goal is to create a platform for all members to come together as One Big Team to celebrate Gor culture, whether it's a happy hour, fitness activity or an opportunity for professional or personal development. ​
          When you join the GGA family, you are guided by a set of core values that have become the foundation of our character, success and global reputation. This is a voluntary group and any form of the contribution will be appreciated.​<br>
          &nbsp;&nbsp; <strong>Note:</strong> &nbsp;GGA encourages our members to step up and do the community service that can benefit people around the globe.<br>
          &nbsp;&nbsp;&nbsp;GGA team is happy to hear the feedback, encouragement that can make us better and the difference in lives of marginalized communities in the world!
        </ion-text>
      </ion-card-content>
    </ion-card>
  
  <app-footer></app-footer>
</ion-content>
