<app-header></app-header>

<ion-content>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card >
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">Other Committee - State Coordinators</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Swarnalatha Dheeravath.jpeg" alt="Swarnalatha Dheeravath">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Swarnalatha Dheeravath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Alabama</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Mallesh Maloth.png" alt="Mallesh Maloth">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Mallesh Maloth</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Colorado</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Narendar Dheeravath .jpeg" alt="Narendar Dheeravath">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Narendar Dheeravath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Illinois</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
  
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Ram Ramavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Texas</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Ramji Munavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Kentucky</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Kiran Lavudya.png" alt="Kiran Lavudya">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Kiran Lavudya</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Iowa</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Rajesh Azmeera.png" alt="Rajesh Azmeera">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Rajesh Azmeera</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>New Jersey</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Motilal Dharavath.jpeg" alt="Motilal Dharavath">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Motilala Dharavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Washington</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Rajesh Bhukya.jpeg" alt="Rajesh Bhukya">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Rajesh Bhukya</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Indiana</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Mangulal Dhanavath.png" alt="Mangulal Dhanavath">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Mangulal Dhanavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>California</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Arun Sabavath.png" alt="Arun Sabavath">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Arun Sabavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>New York</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center"> 
                  <img class="leader-image" src="../../../assets/images/Suresh Dharavath.jpeg" alt="Suresh Dharavath">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Suresh Dharavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>New York</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="25" class="layout-flex-col">
              <ion-card>
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Ritesh Dharamsoth.png" alt="Suresh Dharavath">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Ritesh Dharamsoth</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>California</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">

            </div>
            <div fxFlex="25" class="layout-flex-col">

            </div>
            <div fxFlex="25" class="layout-flex-col">

            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
