<app-header></app-header>

<ion-content>
<div fxLayout="row" fxLayout.xs="column" >
  <div fxFlex="97" class="layout-flex-col">
    <ion-card>
      <ion-card-content>
        <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
          <div fxLayout="row" fxLayout.xs="column" >
            <div fxFlex="100" class="layout-flex-col">
              <mat-form-field class="form-field">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" formControlName="name" required>
                <mat-error *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched">
                  Please enter a name
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" >
            <div fxFlex="100" class="layout-flex-col">
              <mat-form-field class="form-field">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" formControlName="email" required>
                <mat-error *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" >
            <div fxFlex="100" class="layout-flex-col">
              <mat-form-field class="form-field">
                <mat-label>Message</mat-label>
                <textarea matInput type="message" name="message" formControlName="message" required></textarea>
                <mat-error *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched">
                  Please enter a message
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-button type="submit" color="secondary">Contact GGA</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</div>

  
  <app-footer class="footer"></app-footer>
</ion-content>
