<app-header></app-header>

<ion-content>

  
  <ion-card class="ion-margin-top main-card">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">GGA Founders</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Ravikiran-Chauhan.png" alt="Ravikiran-Chauhan">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Ravikiran Sabavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Founder</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
              
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Shankar-Salavath.png" alt="Shankar-Salavath">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Shanker Salavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Founder</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img  class="leader-image" src="../../assets/images/Sandip-Rathod.png" alt="Sandip-Rathod">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Sandeep Rathod</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Founder</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Ashok-Angoth.png" alt="Ashok-Angoth">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Ashok Angoth</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Founder</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img  class="leader-image" src="../../assets/images/Raj-Maloth.png" alt="Raj Maloth">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Raj Maloth</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Founder</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">

          </ion-col>
          <ion-col size="3">
            
          </ion-col>
          <ion-col size="3">
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin-top main-card">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">Executives Committee</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Kalidas-Porika.png" alt="Kalidas-Porkya">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Kalidas Porikya</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>President</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>          
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Dr Girish Mood.png" alt="Dr Girish Mood">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Dr Girish Mood</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Vice President</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img  class="leader-image" src="../../assets/images/Ravikiran-Chauhan.png" alt="Ravikiran-Chauhan">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Ravikiran Sabavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Vice President</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Sandip-Rathod.png" alt="Sandip-Rathod">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Sandeep Rathod</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Vice President</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Shankar-Salavath.png" alt="Shanker Salavath">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Shanker Salavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>General Secretary</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>          
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Ashok-Angoth.png" alt="Ashok Angoth">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Ashok Angoth</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Joint Secretary</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img  class="leader-image" src="../../assets/images/Arvind-Chavan.png" alt="Arvind Chavan">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Arvind Chavan</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Treasurer</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin-top main-card">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">Board of Directors</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img  class="leader-image" src="../../assets/images/Arvind-Chavan.png" alt="Arvind Chavan">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Arvind Chavan</ion-text>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img  class="leader-image" src="../../assets/images/Pradip-Chavan.png" alt="Pradip Chavan">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Pradip Chavan</ion-text>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img  class="leader-image" src="../../assets/images/Kalidas-Porika.png" alt="Kalidas-Porika">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Kalidas Porika</ion-text>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img  class="leader-image" src="../../assets/images/Poolsingh-Bhookya.png" alt="Poolsingh-Bhookya">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Phoolsingh Bhookya</ion-text>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin-top main-card">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">Advisory Committee</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Dr Dayan Anand Naik.png" alt="Dr Dayan Anand Naik">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Dr Dayanand Naik</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Nayak</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>          
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Namdeo Rathod.png" alt="Namdeo Rathod">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Namdeo Rathod</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Karbhari</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Veer Pratap Naik.png" alt="Veer Oratap Naik">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Veera Pratap Naik</ion-text>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Keharsingh Rathod.jpeg" alt="Keharsingh Rathod">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Kehar Singh Rathod</ion-text>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>  
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img  class="leader-image" src="../../assets/images/Raj-Maloth.png" alt="Raj Maloth">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Raj Maloth</ion-text>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img  class="leader-image" src="../../assets/images/Poolsingh Noonavath.jpeg" alt="Raj Maloth">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Poolsingh Noonavath</ion-text>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img  class="leader-image" src="../../assets/images/Ashok Dheeravath.jpeg" alt="Raj Maloth">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Ashok Dheeravath</ion-text>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Sammaiah Porika.png" alt="Sammaiah Porika">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Sammaiah Porika</ion-text>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>        
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin-top main-card card-bottom">
    <ion-card-header>
      <ion-text color="primary" class="card-heading">Other Committee - State Coordinators</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Swarnalatha Dheeravath.jpeg" alt="Swarnalatha Dheeravath">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Swarnalatha Dheeravath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Alabama</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
              
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Mallesh Maloth.png" alt="Mallesh Maloth">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Mallesh Maloth</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Colorado</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Narendar Dheeravath .jpeg" alt="Narendar Dheeravath">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Narendar Dheeravath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Illinois</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>

              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Ram Ramavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Texas</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Ramji Munavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Kentucky</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
              
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Kiran Lavudya.png" alt="Kiran Lavudya">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Kiran Lavudya</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Iowa</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Rajesh Azmeera.png" alt="Rajesh Azmeera">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Rajesh Azmeera</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>New Jersey</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Motilal Dharavath.jpeg" alt="Motilal Dharavath">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Motilala Dharavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Washington</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Rajesh Bhukya.jpeg" alt="Rajesh Bhukya">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Rajesh Bhukya</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Indiana</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
              
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Mangulal Dhanavath.png" alt="Mangulal Dhanavath">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Mangulal Dhanavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>California</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Arun Sabavath.png" alt="Arun Sabavath">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Arun Sabavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>New York</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Suresh Dharavath.jpeg" alt="Suresh Dharavath">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Suresh Dharavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>New York</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <img class="leader-image" src="../../assets/images/Ritesh Dharamsoth.png" alt="Suresh Dharavath">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Ritesh Dharamsoth</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>California</ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <app-footer></app-footer>
</ion-content>
