.card-heading{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right,rgba(244,107,69, 0.8) , rgba(238,168,73,.8));
    font-size: 1.6rem;
}

.slides{
    height: 31rem;
}

.videos{
    width:100%;
    &-row{
        padding-left: .5rem;
        padding-right: .5rem;
    }
}


//Mobile

/* iphone 10 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .slides{
        height: 14rem !important;
    }
    

}

/* iphone 6, 6s, 7 & 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .slides{
        height: 14rem !important;
    }
}

/* ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* desktop */
@media screen 
  and (min-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      .slide-image{
          transform: scale(2);
      }
}