.menu-item{
    --background:#E8E9EB;
    &:hover{
        --background: #D94A58;
    }

    &:active{
        --background: #D94A58;
    }
}

.platform-ios {
    ion-app{
        margin-top: 20px;
    }
    
}

.menu-background{
    --background:#E8E9EB;

    &-padding{
        padding: 0;
    }
}