<app-header></app-header>

<ion-content>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayout.lg="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-item lines="none" class="ion-padding-start ion-padding-top">
        <ion-text color="primary" class="card-heading">Latest News</ion-text>
      </ion-item>
    </div>
  </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayout.lg="column">
        <div fxFlex="97" class="layout-flex-col" *ngFor="let news of newsArray; let i=index">
          <ion-card>
            <ion-card-header class="text-header-background">
              <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayout.lg="column">
                <div fxFlex="80" class="layout-flex-col">
                  <ion-card-title>{{news.title}}</ion-card-title>
                </div>
                <div fxFlex="20" class="layout-flex-col">
                  <ion-card-title class="date">{{news.date | dateFetch}}</ion-card-title>
                </div>
              </div>
            </ion-card-header>
            <ion-card-content class="ion-margin-top ion-text-justify">
              <ion-text class="text">
              {{news.description}}
              </ion-text>
            </ion-card-content>
        </ion-card>
    <div *ngIf="newsArray.length === 0" class="ion-text-center">
      <ion-text class="text">No News at the moment!</ion-text>
    </div>
  </div>
  </div>
  <app-footer></app-footer>
</ion-content>
