

.inner-padding{
    padding-left: 1.5rem;
}

.clickable{
    cursor: pointer;
}

ion-card{
    margin: 0;
    margin-top: 1rem;
}

ion-text{
    color: white !important;
  }

.footer-heading{
    font-weight: bolder;
    font-size: 1rem;
}