    <ion-card color="dark" class="footer">
      <div fxLayout="row" fxLayout.xs="column" >
        <div fxFlex="50" class="layout-flex-col">
          <div fxLayout="row" fxLayout.xs="column"  >
            <div fxFlex="50" class="layout-flex-col">
              <div fxLayout="row" fxLayout.xs="column" >
                <div fxFlex="100" class="layout-flex-col">
                  <ion-text class="footer-heading">OFFICE HOURS</ion-text><br>
                  <ion-text class="footer-text">Mon-Fri : 10.00am – 8.00pm</ion-text><br>
                  <ion-text class="footer-text">Sat : 10.00am – 2.00pm</ion-text><br>
                  <ion-text class="footer-text">Sun : Closed</ion-text><br>
                </div>
              </div>
            </div>
            <div fxFlex="50" class="layout-flex-col">
              <div fxLayout="row" fxLayout.xs="column" >
                <div fxFlex="100" class="layout-flex-col">
                  <ion-text class="footer-heading">CONTACT US</ion-text><br>
                  <ion-icon class="footer-icon" name="call-outline"></ion-icon>&nbsp;
                  <ion-text class="footer-icon-text">+1 973 462 6405</ion-text><br>
                  <ion-icon  class="footer-icon" name="mail-outline"></ion-icon>&nbsp;
                  <ion-text class="footer-icon-text">contactourgga@gmail.com</ion-text><br>
                  <ion-icon  class="footer-icon" name="location-outline"></ion-icon>&nbsp;
                  <ion-text class="footer-icon-text">10910, Wardrop Pl,</ion-text><br><ion-text class="inner-padding footer-text">Richmond, TX</ion-text><br><ion-text class="inner-padding footer-text">77407 USA</ion-text><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="50" class="layout-flex-col">
          <div fxLayout="row" fxLayout.xs="column" >
            <div fxFlex="50" class="layout-flex-col">
              <div fxLayout="row" fxLayout.xs="column" >
                <div fxFlex="100" class="layout-flex-col">
                  <ion-text class="footer-heading">FOLLOW US</ion-text><br>
                  <ion-icon class="footer-icon" name="logo-facebook"></ion-icon>&nbsp;
                  <ion-text class="footer-icon-text" class="clickable" (click)="goToFaceBook()">Facebook</ion-text><br>
                  <ion-icon class="footer-icon" name="logo-youtube"></ion-icon>&nbsp;
                  <ion-text class="footer-icon-text" class="clickable" (click)="goToYoutube()">Youtube</ion-text><br>
                </div>
              </div>
            </div>
            <div fxFlex="50" class="layout-flex-col">
              <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" class="layout-flex-col full-span">
                  <ion-text class="footer-heading">QUICK LINKS</ion-text><br>
                  <ion-text class="clickable footer-text" (click)="footerNavigate('home')">Home</ion-text><br>
                  <ion-text class="clickable footer-text" (click)="footerNavigate('about')">About</ion-text><br>
                  <ion-text class="clickable footer-text" (click)="footerNavigate('news')">News</ion-text><br>
                  <ion-text class="clickable footer-text" (click)="checkForLogin()">Admin</ion-text><br>
                  <ion-text class="clickable footer-text" (click)="footerNavigate('contact')">Contact</ion-text><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-card>