<app-header></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>
          <h2>JOIN GGA TODAY</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>
          <h3>Let us join hands to address the needs of the GGA Community globally.</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="card-design">
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <mat-form-field class="form-field">
                <mat-label>Title</mat-label>
                <mat-select formControlName="title">
                  <mat-option value="mr">Mr.</mat-option>
                  <mat-option value="mr">Mrs.</mat-option>
                  <mat-option value="mr">Ms.</mat-option>
                  <mat-option value="mr">Miss.</mat-option>
                  <mat-option value="mr">Dr.</mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
            <ion-col size="4">
              <mat-form-field class="form-field">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" required>
                <mat-error *ngIf="!registerForm.get('firstName').valid && registerForm.get('firstName').touched">
                  Please enter a First Name
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="4">
              <mat-form-field class="form-field" >
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" required>
                <mat-error *ngIf="!registerForm.get('lastName').valid && registerForm.get('lastName').touched">
                  Please enter a Last Name
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <mat-form-field class="form-field">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" required>
                <mat-error *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="6">
              <mat-form-field class="form-field">
                <mat-label>Phone</mat-label>
                <input matInput type="text" formControlName="phone" maxlength="10" pattern="^(0|[1-9][0-9]*)$">
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <mat-form-field class="form-field">
                <mat-label>Address line 1</mat-label>
                <input matInput formControlName="addressline1">
              </mat-form-field>
            </ion-col>
            <ion-col size="6">
              <mat-form-field class="form-field">
                <mat-label>Address line 2</mat-label>
                <input matInput formControlName="addressline2" >
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <mat-form-field class="form-field">
                <mat-label>Zip</mat-label>
                <input matInput formControlName="zip" pattern="^(0|[1-9][0-9]*)$">
              </mat-form-field>
            </ion-col>
            <ion-col size="4">
    
            </ion-col>
            <ion-col size="4">
    
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <mat-form-field class="form-field">
                <mat-label>Country of Residence</mat-label>
                <mat-select formControlName="country" (selectionChange)="countryChanged($event)" required>
                  <mat-option *ngFor="let country of countries" value="{{country}}">{{country}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!registerForm.get('country').valid && registerForm.get('country').touched">
                  Please enter a country of residence
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="4" class="multiple-selects">
              <mat-form-field class="form-field">
                <div *ngIf="!ukSelected && !middleEastSelected">
                  <mat-label>State of Residence</mat-label>
                </div>
                <div *ngIf="ukSelected || middleEastSelected">
                  <mat-label>Country of Residence</mat-label>
                </div>
                <mat-select formControlName="state" required>
                  <mat-option *ngFor="let state of states" value="{{state}}">{{state}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!registerForm.get('state').valid && registerForm.get('state').touched">
                  Please enter a state of residence
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="4">
              <mat-form-field class="form-field">
                <mat-label>City of Residence</mat-label>
                <input matInput formControlName="city">
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <mat-form-field class="form-field">
                <mat-label>Country Of Origin</mat-label>
                <mat-select formControlName="countryOrigin" (selectionChange)="countryOriginChanged($event)" required>
                  <mat-option *ngFor="let country of countries" value="{{country}}">{{country}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!registerForm.get('countryOrigin').valid && registerForm.get('countryOrigin').touched">
                  Please enter a country of origin
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="4" class="multiple-selects">
              <mat-form-field class="form-field">
                <div *ngIf="!ukOriginSelected && !middleEastOriginSelected">
                  <mat-label>State of Origin</mat-label>
                </div>
                <div *ngIf="ukOriginSelected || middleEastOriginSelected">
                  <mat-label>Country of Origin</mat-label>
                </div>
                <mat-select formControlName="stateOrigin" required>
                  <mat-option *ngFor="let state of Originstates" value="{{state}}">{{state}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!registerForm.get('stateOrigin').valid && registerForm.get('stateOrigin').touched">
                  Please enter a state of origin
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="4">
              <mat-form-field class="form-field">
                <mat-label>City of Origin</mat-label>
                <input matInput formControlName="cityOrigin">
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <mat-form-field class="form-field">
                <mat-label>Interest /Hobbies</mat-label>
                <input matInput formControlName="interestHobbies">
              </mat-form-field>
            </ion-col>
            <ion-col size="6">
              <mat-form-field class="form-field">
                <mat-label>Profession</mat-label>
                <input matInput formControlName="profession">
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="ion-text-center">
          <ion-row class="ion-text-center">
            <ion-col size="12">
              <ion-button type="submit" color="primary">Register</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <img class="logo-image" src="../../../assets/images/logo.jpg" alt="Logo">
        </ion-col>
      </ion-row>
    </ion-grid>
  <app-footer></app-footer>  
</ion-content>
