<app-header></app-header>

<ion-content>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card >
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">Advisory Committee</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Dr Dayan Anand Naik.png" alt="Dr Dayan Anand Naik">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Dr Dayanand Naik</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>     
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Namdeo Rathod.png" alt="Namdeo Rathod">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Namdeo Rathod</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Veer Pratap Naik.png" alt="Veer Oratap Naik">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Veera Pratap Naik</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header>
                  <img class="leader-image" src="../../../assets/images/Keharsingh Rathod.jpeg" alt="Keharsingh Rathod">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Kehar Singh Rathod</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>  
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Raj-Maloth.png" alt="Raj Maloth">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Raj Maloth</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Poolsingh Noonavath.jpeg" alt="Raj Maloth">
                </ion-card-header >
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Poolsingh Noonavath</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Ashok Dheeravath.jpeg" alt="Raj Maloth">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Ashok Dheeravath</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Sammaiah Porika.png" alt="Sammaiah Porika">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Sammaiah Porika</ion-text>
                  </ion-card-subtitle>
                </ion-card-content>
              </ion-card>        
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
 
  <app-footer></app-footer>
</ion-content>
