.card-heading{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right,rgba(244,107,69, 0.8) , rgba(238,168,73,.8));
    font-size: 1.6rem;
}

.hero{
    height: 85vh;
    background-image:url('../../assets/images/hero.jpg');
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
    margin-right: .2rem;
    margin-left: .2rem;
}


.card-adjust{
    margin-right: 4rem !important;
    margin-left: 4rem !important;
}

.noncard-adjust{
    margin-right: 2.9rem !important;
    margin-left: 2.9rem !important;
}

.bottom-card{
    margin: 1.2rem;
    margin-bottom:2rem;
}

.news-content{
    margin-top: 1rem;
}

.padding{
    padding-left: 2rem;
    padding-top: 1rem;
}

.paragraph{
    font-size: 1rem;
}

.thumbnail-logo{
    height: 25vh;
    width: auto;
}

.card-photo{
    height: 44vh;
    width: 100%;

    &-title{
        cursor: pointer;
    }
}

.more-news{
    display: inline-block;
    padding-top: .65rem;
    padding-right: 1rem;

    &-detail{
        color: black;
        text-decoration: underline;
    }

    &:hover{
        color: #F6A52F;
    }
}

.clickable{
    cursor: pointer;
}

.top-card{
    margin: 1.2rem;
    margin-top: 3rem;
}

.middle-card{
    margin: 1.2rem;
}

//Mobile

/* iphone 10 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .hero{
        display: none !important;
    }
    

}

/* iphone 6, 6s, 7 & 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .hero{
        display: none !important;
    }
}

/* ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .hero{
        display: none !important;
    }

    .nayak-image{
        margin-top: 3rem;
    }
}

/* desktop */
@media screen 
  and (min-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}