<app-header></app-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>
          <h2>JOIN GGA TODAY</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>
          <h3>Let us join hands to address the needs of the GGA Community globally.</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-right">
        <ion-button color="primary" (click)="registerAsMember()">Register</ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-left">
        <ion-button color="secondary" (click)="volunteers()">VOLUNTEER</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="logo-image" src="../../assets/images/logo.jpg" alt="Logo">
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
